.create__employee__list__container {
    width: 100%;
    height: auto;
    padding: 3vw;
    text-align: center;
    border-radius: 1.2vw;
    -webkit-box-shadow: 0vw 0vw 0.5vw 0vw rgb(0 0 0 / 10%);
    box-shadow: 0vw 0vw 0.5vw 0vw rgb(0 0 0 / 10%);
    position: relative;
}

.create__employee__list__container__body {
    width: 100%;
    height: auto;
}

.create__employee__list__container__body__button {
    padding: 2vw;
    width: 11vw;
    margin: auto;
}

.create__employee__list__container__body__button svg {
    width: 7vw !important;
    height: 7vw !important;
    cursor: pointer !important;
}

.create__employee__list__container__body__title {
    margin: 0.5vw 0vw 0vw 0vw;
    padding: 0vw 0vw 1vw 0vw;
}

.create__employee__list__container__body__title h1 {
    font-weight: 400;
    font-size: 2.5vw;
    color: #313131;
}

/* employee box style start  */
/* employee box style start  */
/* employee box style start  */

.employee__container {
    width: 100%;
    height: auto;
    padding: 0.5vw 0vw 0vw 0vw;
}

/* header  */
.employee__container .employee__container__header {
    width: 100%;
    height: 3vw;
    margin: 0vw 0vw 1.4vw 0vw;
    background: #da1e37;
    color: white;
    border-radius: 0.4vw;
    display: flex;
    align-items: center;
    align-content: center;
}

.employee__container .employee__container__header ul {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.employee__container .employee__container__header ul li {
    text-align: center;
    font-size: 1.1vw;
}

.employee__container .employee__container__header ul li:nth-child(1) {
    width: 18vw;
}
.employee__container .employee__container__header ul li:nth-child(2) {
    width: 12.5vw;
}
.employee__container .employee__container__header ul li:nth-child(3) {
    width: 8.2vw;
}
.employee__container .employee__container__header ul li:nth-child(4) {
    width: 10vw;
}
.employee__container .employee__container__header ul li:nth-child(5) {
    width: 15vw;
}
.employee__container .employee__container__header ul li:nth-child(6) {
    width: 10vw;
}
.employee__container .employee__container__header ul li:nth-child(7) {
    width: 10vw;
}
