.upload__profile__image__container {
    width: 11vw;
    height: 12vw;
    display: inline-block;
    border-radius: 0.5vw;
    box-shadow: 0vw 0vw 0.5vw 0vw rgb(0 0 0 / 15%);
    position: relative;
}
.upload__profile__image__container div {
    width: 11vw;
    height: 12vw;
    z-index: 1;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin-top: -0.05vw;
    border-radius: 0.5vw;
}
.upload__profile__image__container input {
    display: none;
}
.upload__profile__image__container label {
    width: 1.6vw;
    height: 1.6vw;
    background-color: #ffffff;
    background-image: url(../Assets/icon/camera.svg);
    display: inline-block;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 4%;
    box-shadow: 0vw 0vw 0.5vw 0vw rgb(0 0 0 / 15%);
    cursor: pointer;
}
.upload__profile__image__container p {
    z-index: 5;
    width: 100%;
    text-align: center;
    font-size: 0.8vw;
    margin-top: -11%;
}
