/* search Box style Start  */
/* search Box style Start  */
/* search Box style Start  */
.search__box__container {
    width: 100%;
    height: auto;
}

.search__box__container__main__box {
    width: 100%;
    height: auto;
    padding: 0.2vw 0.2vw 0.2vw 0.8vw;
    border: 0.1vw solid #ececec;
    border-radius: 0.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    align-items: center;
}

.search__box__container__main__box input {
    width: 93%;
    height: 2.25vw;
    outline: none;
    border: none;
    font-size: 1.2vw;
    font-family: aller, sans-serif;
}

.search__box__container__main__box label {
    width: auto;
    height: 1.7vw;
}

.search__box__container__main__box label svg {
    width: 1.4vw;
    cursor: pointer;
    margin-top: -0.2vw;
}
/* search Box style end  */
/* search Box style end  */
/* search Box style end  */

/* add member informetation style start  */
/* add member informetation style start  */
/* add member informetation style start  */

.checkboxs__container {
    width: 11vw;
    height: auto;
    padding: 0.6vw 0vw;
}
.checkboxs__container__input {
    width: 13vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0vw 0vw 0vw 2.3vw;
}
.checkboxs__container__input input[type='checkbox'] {
    display: none;
}

.checkboxs__container__input label {
    cursor: pointer;
    position: relative;
    font-size: 1.2vw;
    color: #313131;
}

.checkboxs__container__input label::before {
    content: '';
    background-image: url(../Assets/icon/rigth-mark.svg);
    background-position: center;
    background-size: cover;
    width: 2.7vw;
    height: 2.4vw;
    position: absolute;
    left: -2.5vw;
    top: -0.6vw;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
    z-index: 99;
} /*
.checkboxs__container__input input[type="checkbox"]:checked + label::before {
  -webkit-transform: scale(1);
  transform: scale(1);
} */

.checkboxs__container__input .checked::before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.checkboxs__container__input .unchecked::before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.checkboxs__container__input label::after {
    content: '';
    border: 0.13vw solid #da1e37;
    border-radius: 0.3vw;
    width: 1.5vw;
    height: 1.35vw;
    position: absolute;
    left: -2.2vw;
    top: 0vw;
    /* z-index: 1; */
    -webkit-box-shadow: 0vw 0vw 0.5vw 0vw rgb(0 0 0 / 10%);
    box-shadow: 0vw 0vw 0.5vw 0vw rgb(0 0 0 / 10%);
}

/* add member informetation style end  */
/* add member informetation style end  */
/* add member informetation style end  */

/* name style start  */
/* name style start  */
/* name style start  */

.name__container {
    width: 100%;
    height: auto;
    padding: 0.6vw 0vw;
}
.name__container__title {
    font-size: 1.3vw;
    padding: 0vw 0vw 0.5vw 0vw;
    color: #313131;
}
.name__container input {
    width: 100%;
    height: auto;
    padding: 0.7vw 0.6vw;
    font-size: 1.2vw;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 0.3vw;
    font-family: aller, sans-serif;
}

/* name style end  */
/* name style end  */
/* name style end  */

/* gender style start  */
/* gender style start  */
/* gender style start  */

.gender__container {
    width: 48%;
    height: auto;
    padding: 0.5vw 0vw;
}
.gender__container__title {
    font-size: 1.3vw;
    padding: 0vw 0vw 0.5vw 0vw;
    color: #313131;
}
.gender__container__box {
    width: 100%;
    height: auto;
    padding: 0.5vw 0vw;
    position: relative;
}
.gender__container__box__selecte__box {
    width: 100%;
    height: 2.6vw;
    border-radius: 0.4vw;
    font-size: 1.2vw;
    border: 0.13vw solid #da1e37;
    outline: none;
    position: relative;
    font-family: aller, sans-serif;
}

.gender__container__box__icon {
    width: 3.2vw;
    height: 2.6vw;
    /* padding: 0.2vw; */
    background: #da1e37;
    position: absolute;
    right: 0%;
    top: 0.5vw;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    cursor: pointer;
    background-image: url(../Assets/icon/downIcon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/* gender style end  */
/* gender style end  */
/* gender style end  */

/* Blood group style start  */
/* Blood group  style start */
/* Blood group  style start */

.Blood__group__container {
    width: 47%;
    height: auto;
    padding: 0.5vw 0vw;
}
.Blood__group__container__title {
    font-size: 1.3vw;
    padding: 0vw 0vw 0.5vw 0vw;
    color: #313131;
}
.Blood__group__container__box {
    width: 100%;
    height: auto;
    padding: 0.5vw 0vw;
    position: relative;
}
.Blood__group__container__box__selecte__box {
    width: 100%;
    height: 2.6vw;
    border-radius: 0.4vw;
    font-size: 1.2vw;
    border: 0.13vw solid #da1e37;
    outline: none;
    position: relative;
    font-family: aller, sans-serif;
}

.Blood__group__container__selected__box__icon {
    width: 3.2vw;
    height: 2.6vw;
    /* padding: 0.2vw; */
    background: #da1e37;
    position: absolute;
    right: 0%;
    top: 0.5vw;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    cursor: pointer;
    background-image: url(../Assets/icon/downIcon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/*  Blood group  style end  */
/*  Blood group  style end  */
/*  Blood group  style end  */

/* date of birth style start  */
/* date of birth style start  */
/* date of birth style start  */

.date__of__birth__container {
    width: 48%;
    height: auto;
    display: inline-block;
    padding: 0.5vw 0vw;
}
.date__of__birth__container__title {
    font-size: 1.3vw;
    padding: 0vw 0vw 0.5vw 0vw;
    color: #313131;
}
.date__of__birth__container__date__box {
    width: 100%;
    height: 2.6vw;
    position: relative;
}

.date__of__birth__container__date__box__input {
    width: 100%;
    height: 2.6vw;
    padding: 0.4vw;
    border-radius: 0.4vw;
    font-size: 1.2vw;
    border: 0.13vw solid #da1e37;
    outline: none;
    cursor: pointer;
    position: relative;
    font-family: aller, sans-serif;
}

.date__of__birth__container__date__box__icon {
    width: 3.2vw;
    height: 2.6vw;
    padding: 0.2vw;
    background: #da1e37;
    position: absolute;
    right: 0%;
    top: 0;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    cursor: pointer;
    background-image: url(../Assets/icon/calendar-line.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

/* date of birth style end */
/* date of birth style end */
/* date of birth style end */

/* Religion style start  */
/* Religion style start  */
/* Religion style start  */

.religion__container {
    width: 47%;
    height: auto;
    display: inline-block;
    padding: 0.5vw 0vw;
}
.religion__container__title {
    font-size: 1.3vw;
    padding: 0vw 0vw 0.5vw 0vw;
    color: #313131;
}
.religion__container__input__box input {
    width: 100%;
    height: 2.6vw;
    outline: none;
    border: none;
    background: #f5f5f5;
    border-radius: 0.4vw;
    padding: 0.7vw 0.6vw;
    font-size: 1.2vw;
    font-family: 'Aller', sans-serif;
}

.religion__container__input__box__dropdown {
    width: 100%;
    height: auto;
    position: relative;
}

.religion__container__input__box__dropdown ul {
    width: 100%;
    height: auto;
    background-color: #fff;
    position: absolute;
    top: 102%;
    left: 0;
    z-index: 5;
    border-radius: 0.4vw;
    z-index: 100;
    -webkit-box-shadow: 0vw 0vw 0.5vw 0vw rgba(0, 0, 0, 0.171);
    box-shadow: 0vw 0vw 0.5vw 0vw rgba(0, 0, 0, 0.171);
}

.religion__container__input__box__dropdown ul li {
    width: 100%;
    height: auto;
    padding: 0.6vw 0.5vw;
    font-size: 1.2vw;
    border-radius: 0.3vw;
}

.religion__container__input__box__dropdown ul li:hover {
    background-color: #da1e37;
    color: white;
}

/* Religion style end */
/* Religion style end */
/* Religion style end */

/* nationlity style start  */
/* nationlity style start  */
/* nationlity style start  */

.nationlity__container {
    width: 100%;
    height: auto;
    padding: 0.6vw 0vw;
}
.nationlity__container__title {
    font-size: 1.3vw;
    padding: 0vw 0vw 0.5vw 0vw;
    color: #313131;
}
.nationlity__container input {
    width: 100%;
    height: 2.6vw;
    outline: none;
    border: none;
    background: #f5f5f5;
    border-radius: 0.4vw;
    padding: 0.7vw 0.6vw;
    font-size: 1.2vw;
    font-family: 'Aller', sans-serif;
}

.nationlity__container__dropdown {
    width: 100%;
    height: auto;
    position: relative;
}

.nationlity__container__dropdown ul {
    width: 100%;
    height: auto;
    background-color: #fff;
    position: absolute;
    top: 102%;
    left: 0;
    z-index: 5;
    border-radius: 0.4vw;
    z-index: 100;
    -webkit-box-shadow: 0vw 0vw 0.5vw 0vw rgba(0, 0, 0, 0.171);
    box-shadow: 0vw 0vw 0.5vw 0vw rgba(0, 0, 0, 0.171);
}

.nationlity__container__dropdown ul li {
    width: 100%;
    height: auto;
    padding: 0.6vw 0.5vw;
    font-size: 1.2vw;
    border-radius: 0.3vw;
}

.nationlity__container__dropdown ul li:hover {
    background-color: #da1e37;
    color: white;
}

/* nationlity style end  */
/* nationlity style end  */
/* nationlity style end  */

/* email style start  */
/* email style start  */
/* email style start  */

.email__container {
    width: 100%;
    height: auto;
    padding: 0.6vw 0vw;
}
.email__container__title {
    font-size: 1.3vw;
    padding: 0vw 0vw 0.5vw 0vw;
    color: #313131;
}
.email__container input {
    width: 100%;
    height: auto;
    padding: 0.7vw 0.6vw;
    font-size: 1.2vw;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 0.3vw;
    font-family: aller, sans-serif;
}

/* email style end  */
/* email style end  */
/* email style end  */

/* mobile no style start  */
/* mobile no style start  */
/* mobile no style start  */

.mobile__no__container {
    width: 100%;
    height: auto;
    padding: 0.6vw 0vw;
}
.mobile__no__container__title {
    font-size: 1.3vw;
    padding: 0vw 0vw 0.5vw 0vw;
    color: #313131;
}
.mobile__no__container input {
    width: 100%;
    height: auto;
    padding: 0.7vw 0.6vw;
    font-size: 1.2vw;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 0.3vw;
    font-family: aller, sans-serif;
}

/* mobile no style end  */
/* mobile no style end  */
/* mobile no style end  */

/*position box style start  */
/* position box style start  */
/* position box style start  */
.position__container {
    width: 16.2vw;
    height: auto;
    display: inline-block;
}

.position__container .position__container__heading {
    font-size: 1.3vw;
    padding-bottom: 1vw;
    color: #313131;
    margin-bottom: 0rem;
}

.position__container .position__container__input__box {
    width: 100%;
    height: auto;
    position: relative;
}

.position__container .position__container__input__box__input {
    width: 16.2vw;
    height: auto;
    position: relative;
}

.position__container .position__container__input__box__input input {
    width: 16.2vw;
    height: 3vw;
    padding: 0.4vw;
    border-radius: 0.4vw;
    font-size: 1.2vw;
    border: 0.13vw solid #da1e37;
    outline: none;
    position: relative;
    font-family: aller, sans-serif;
}

.position__container .position__container__input__box__dropdrown {
    width: 100%;
    height: auto;
    position: relative;
}

.position__container .position__container__input__box__dropdrown ul {
    width: 100%;
    height: auto;
    background-color: #fff;
    position: absolute;
    /* top: 102%; */
    left: 0;
    z-index: 5;
    border-radius: 0.4vw;
    /* z-index: 100; */
    -webkit-box-shadow: 0vw 0vw 0.5vw 0vw rgba(0, 0, 0, 0.171);
    box-shadow: 0vw 0vw 0.5vw 0vw rgba(0, 0, 0, 0.171);
    list-style: none;
    padding: 0 !important;
}

.position__container .position__container__input__box__dropdrown ul li {
    width: 100%;
    height: auto;
    padding: 0.6vw 0.5vw !important;
    font-size: 1.2vw;
    border-radius: 0.3vw;
}

.position__container .position__container__input__box__dropdrown ul li:hover {
    background-color: #da1e37;
    color: white;
    cursor: pointer;
}

/* position box style end  */
/* position box style end  */
/* position box style end  */
/* joining date box style start  */
/* joining date box style start  */
/* joining date box style start  */
.Joining__date__container {
    width: 16.2vw;
    height: auto;
    display: inline-block;
}

.Joining__date__container .Joining__date__container__title {
    font-size: 1.3vw;
    padding-bottom: 1vw;
    color: #313131;
}

.Joining__date__container .Joining__date__container__box {
    width: 16.2vw;
    height: 3vw;
    position: relative;
}

.Joining__date__container .Joining__date__container__box .Joining__date__container__date {
    width: 16.2vw;
    height: 3vw;
    padding: 0.4vw;
    border-radius: 0.4vw;
    font-size: 1.2vw;
    border: 0.13vw solid #da1e37;
    outline: none;
    cursor: pointer;
    position: relative;
    font-family: aller, sans-serif;
}

.Joining__date__container .Joining__date__container__box .Joining__date__container__icon {
    width: 3.2vw;
    height: 3vw;
    padding: 0.2vw;
    background: #da1e37;
    position: absolute;
    right: 0%;
    top: 0;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    cursor: pointer;
    background-image: url(../Assets/icon/calendar-line.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

/* joining date box style end  */
/* joining date box style end  */
/* joining date box style end  */
/* Salary Amount box style start  */
/* Salary Amount box style start */
/* Salary Amount box style start */
.salary__amounts__container {
    width: 16.2vw;
    height: auto;
    position: relative;
    display: inline-block;
    padding: 1.5vw 0vw;
}

.salary__amounts__container .salary__amounts__container__title {
    font-size: 1.3vw;
    padding-bottom: 1vw;
    color: #313131;
}

.salary__amounts__container .salary__amounts__container__input__box {
    width: 100%;
    height: auto;
    position: relative;
}

.salary__amounts__container .salary__amounts__container__input__box input {
    width: 16.2vw;
    height: 3vw;
    padding: 0.4vw;
    border-radius: 0.4vw;
    font-size: 1.2vw;
    border: 0.13vw solid #da1e37;
    outline: none;
    position: relative;
    font-family: aller, sans-serif;
}

.salary__amounts__container
    .salary__amounts__container__input__box
    .salary__amounts__container__input__box__icon {
    width: 3.2vw;
    height: 3vw;
    position: absolute;
    right: 0%;
    top: 0;
    border-radius: 0.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #dddddd;
}

.salary__amounts__container
    .salary__amounts__container__input__box
    .salary__amounts__container__input__box__icon
    .salary__amounts__container__input__box__icon__top {
    width: 100%;
    height: 49%;
    background-color: #da1e37;
    outline: none;
    border: none;
    cursor: pointer;
    border-top-right-radius: 0.4vw;
}

.salary__amounts__container
    .salary__amounts__container__input__box
    .salary__amounts__container__input__box__icon
    .salary__amounts__container__input__box__icon__top
    svg {
    width: 1.5vw;
    margin-top: -0.6vw;
}

.salary__amounts__container
    .salary__amounts__container__input__box
    .salary__amounts__container__input__box__icon
    .salary__amounts__container__input__box__icon__row {
    width: 59%;
    height: 0.007vw;
    background: #dddddd;
    display: inline-block;
}

.salary__amounts__container
    .salary__amounts__container__input__box
    .salary__amounts__container__input__box__icon
    .salary__amounts__container__input__box__icon__bottom {
    width: 100%;
    height: 48%;
    background-color: #da1e37;
    outline: none;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 0.4vw;
}

.salary__amounts__container
    .salary__amounts__container__input__box
    .salary__amounts__container__input__box__icon
    .salary__amounts__container__input__box__icon__bottom
    svg {
    width: 1.5vw;
    margin-top: -0.6vw;
}

/* Salary Amount box style end  */
/* Salary Amount box style end */
/* Salary Amount box style end */
/* Salary type box style start  */
/* Salary type box style start  */
/* Salary type box style start  */
.salary__type__container {
    width: 16.2vw;
    height: auto;
    position: relative;
    display: inline-block;
    padding: 1.5vw 0vw;
}

.salary__type__container .salary__type__container__title {
    font-size: 1.3vw;
    padding-bottom: 1vw;
    color: #313131;
}

.salary__type__container .salary__type__container__selected__box {
    width: 16.2vw;
    height: 3vw;
    border-radius: 0.4vw;
    font-size: 1.2vw;
    border: 0.13vw solid #da1e37;
    outline: none;
    position: relative;
    font-family: aller, sans-serif;
}

.salary__type__container .salary__type__container__icon {
    width: 3.2vw;
    height: 3vw;
    background: #da1e37;
    position: absolute;
    display: inline-block;
    right: 0%;
    top: 50%;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    cursor: pointer;
    background-image: url(../Assets/icon/downIcon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/* Salary type box style end  */
/* Salary type box style end  */
/* Salary type box style end  */
/* salary date every day box style start  */
/* salary date every day box style start  */
/* salary date every day box style start  */
.salary__date__every__day__container {
    width: 16.2vw;
    height: auto;
    display: inline-block;
    padding: 1.5vw 0vw;
}

.salary__date__every__day__container .salary__date__every__day__container__title {
    font-size: 1.3vw;
    padding-bottom: 1vw;
    color: #313131;
}

.salary__date__every__day__container .salary__date__every__day__container__input__box {
    width: 100%;
    height: 3vw;
    position: relative;
    border: 0.13vw solid #da1e37;
    border-radius: 0.4vw;
}

.salary__date__every__day__container .salary__date__every__day__container__input__box input {
    height: 100%;
    width: 96%;
    outline: none;
    font-size: 1.2vw;
    border: none;
    font-family: aller, sans-serif;
    outline: none;
    border-radius: 0.4vw;
    padding: 0.4vw;
}

.salary__date__every__day__container
    .salary__date__every__day__container__input__box
    .salary__date__every__day__container__input__box__icon {
    position: absolute;
    background: #da1e37;
    height: 3vw;
    width: 3.2vw;
    top: -0.1vw;
    right: -0.1vw;
    border-top-right-radius: 0.4vw;
    border-bottom-right-radius: 0.4vw;
    pointer-events: none;
    background-image: url(../Assets/icon/time.svg);
    background-position: center center;
    background-size: 55%;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* salary date every day box style end  */
/* salary date every day box style end  */
/* salary date every day box style end  */
/* salary date every week box style start  */
/* salary date every week box style start  */
/* salary date every week box style start  */
.salary__date__every__week__container {
    width: 16.2vw;
    height: auto;
    position: relative;
    display: inline-block;
    padding: 1.5vw 0vw;
}

.salary__date__every__week__container .salary__date__every__week__container__title {
    font-size: 1.3vw;
    padding-bottom: 1vw;
    color: #313131;
}

.salary__date__every__week__container .salary__date__every__week__container__selected__box {
    width: 16.2vw;
    height: auto;
    position: relative;
}

.salary__date__every__week__container
    .salary__date__every__week__container__selected__box
    .salary__date__every__week__container__selected__box__select {
    width: 16.2vw;
    height: 3vw;
    border-radius: 0.4vw;
    font-size: 1.2vw;
    border: 0.13vw solid #da1e37;
    outline: none;
    position: relative;
    font-family: aller, sans-serif;
}

.salary__date__every__week__container
    .salary__date__every__week__container__selected__box
    .salary__date__every__week__container__icon {
    width: 3.2vw;
    height: 3vw;
    background: #da1e37;
    position: absolute;
    right: 0%;
    top: 0;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    cursor: pointer;
    background-image: url(../Assets/icon/downIcon.svg);
    background-position: center;
    background-size: 100%;
}

/* salary date every week box style end  */
/* salary date every week box style end  */
/* salary date every week box style end  */
/* salary date every Month box style start  */
/* salary date every Month box style start  */
/* salary date every Month box style start  */

.salary__date__every__month__container {
    width: 16.2vw;
    height: auto;
    position: relative;
    display: inline-block;
    padding: 1.5vw 0vw;
}

.salary__date__every__month__container .salary__date__every__month__container__title {
    font-size: 1.3vw;
    padding-bottom: 1vw;
    color: #313131;
}

.salary__date__every__month__container .salary__date__every__month__container__selected__box {
    width: 16.2vw;
    height: auto;
    position: relative;
}

.salary__date__every__month__container
    .salary__date__every__month__container__selected__box
    .salary__date__every__month__container__selected__box__select {
    width: 16.2vw;
    height: 3vw;
    padding: 0.4vw;
    border-radius: 0.4vw;
    font-size: 1.2vw;
    border: 0.13vw solid #da1e37;
    outline: none;
    position: relative;
    font-family: aller, sans-serif;
}

.salary__date__every__month__container
    .salary__date__every__month__container__selected__box
    .salary__date__every__month__container__icon {
    width: 3.2vw;
    height: 3vw;
    padding: 0.2vw;
    background: #da1e37;
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    cursor: pointer;
    background-image: url(../Assets/icon/downIcon.svg);
    background-position: center;
    background-size: 100%;
}

/* salary date every Month box style end  */
/* salary date every Month box style end  */
/* salary date every Month box style end  */

/* salary Stutas box style start  */
/* salary Stutas box style start  */
/* salary Stutas box style start  */
.salary__status__container {
    width: 16.2vw;
    height: auto;
    position: relative;
    display: inline-block;
    padding: 1.5vw 0vw;
}

.salary__status__container .salary__status__container__title {
    font-size: 1.3vw;
    padding-bottom: 1vw;
    color: #313131;
}

.salary__status__container .salary__status__container__selected__box {
    width: 16.2vw;
    height: auto;
    position: relative;
}

.salary__status__container
    .salary__status__container__selected__box
    .salary__status__container__selected__box__select {
    width: 16.2vw;
    height: 3vw;
    padding: 0.4vw;
    border-radius: 0.4vw;
    font-size: 1.2vw;
    border: 0.13vw solid #da1e37;
    outline: none;
    position: relative;
    font-family: aller, sans-serif;
}

.salary__status__container
    .salary__status__container__selected__box
    .salary__status__container__selected__box__icon {
    width: 3.2vw;
    height: 3vw;
    padding: 0.2vw;
    background: #da1e37;
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    cursor: pointer;
    background-image: url(../Assets/icon/downIcon.svg);
    background-position: center;
    background-size: 100%;
}

/* salary Stutas box style end  */
/* salary Stutas box style end  */
/* salary Stutas box style end  */

/* checkbox style start   */
/* checkbox style start   */
/* checkbox style start   */
.checkbox__container {
    width: 13vw;
    height: auto;
    padding: 0.6vw 0vw;
}

.checkbox__container .checkbox__container__input {
    width: 13vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0vw 0vw 0vw 2.3vw;
}

.checkbox__container .checkbox__container__input input[type='checkbox'] {
    display: none;
}

.checkbox__container .checkbox__container__input label {
    cursor: pointer;
    position: relative;
    font-size: 1.3vw;
    color: #313131;
}

.checkbox__container .checkbox__container__input label::before {
    content: '';
    background-image: url(../Assets/icon/rigth-mark.svg);
    background-position: center;
    background-size: cover;
    width: 3vw;
    height: 2.5vw;
    position: absolute;
    left: -2.5vw;
    top: -0.5vw;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
    z-index: 99;
}

.checkbox__container__input .checked::before {
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}

.checkbox__container__input .unchecked::before {
    -webkit-transform: scale(0) !important;
    transform: scale(0) !important;
}

.checkbox__container .checkbox__container__input label::after {
    content: '';
    border: 0.13vw solid #da1e37;
    border-radius: 0.3vw;
    width: 1.7vw;
    height: 1.55vw;
    position: absolute;
    left: -2.2vw;
    top: 0.1vw;
    /* z-index: 1; */
    -webkit-box-shadow: 0vw 0vw 0.5vw 0vw rgba(32, 32, 32, 0.15);
    box-shadow: 0vw 0vw 0.5vw 0vw rgba(32, 32, 32, 0.15);
}

/* checkbox style end   */
/* checkbox style end   */
/* checkbox style end   */

/* circle checkbox style start   */
/* circle checkbox style start   */
/* circle checkbox style start   */
.circle__checkbox__container {
    width: 10.5vw;
    height: auto;
    padding: 0.6vw 0vw;
    display: inline-block;
}

.circle__checkbox__container .circle__checkbox__container__input {
    width: 10.5vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0vw 0vw 0vw 2.3vw;
}

.circle__checkbox__container .circle__checkbox__container__input input[type='checkbox'] {
    display: none;
}

.circle__checkbox__container .circle__checkbox__container__input label {
    cursor: pointer;
    position: relative;
    font-size: 1.3vw;
    color: #313131;
}

.circle__checkbox__container .circle__checkbox__container__input label::before {
    content: '';
    background-color: #da1e37;
    width: 1.2vw;
    height: 1.2vw;
    position: absolute;
    left: -2.005vw;
    top: 0.2vw;
    border-radius: 100%;
    transform: scale(0);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
    /* z-index: 99; */
}

.circle__checkbox__container__input .circle__checked::before {
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}

.circle__checkbox__container__input .circle__unchecked::before {
    -webkit-transform: scale(0) !important;
    transform: scale(0) !important;
}

.circle__checkbox__container .circle__checkbox__container__input label::after {
    content: '';
    border: 0.1vw solid #da1e37;
    width: 1.6vw;
    height: 1.6vw;
    border-radius: 100%;
    position: absolute;
    left: -2.2vw;
    top: 0vw;
    /* z-index: 1; */
    box-shadow: 0vw 0vw 0.5vw 0vw rgb(32 32 32 / 15%);
}

/*circle checkbox style end   */
/*circle checkbox style end   */
/*circle checkbox style end   */

/* attendence related common componentes style  */

/* Attendence Name style start*/
/* Attendence Name style start*/
/* Attendence Name style start*/

.attendence__name__container {
    width: 100%;
    height: auto;
}

.attendence__name__container__title {
    font-size: 1.5vw;
    padding-bottom: 0.5vw;
    color: #313131;
    text-align: center;
}
.attendence__name__container input {
    width: 100%;
    height: auto;
    padding: 0.3vw 0.6vw;
    font-size: 1.2vw;
    font-family: aller, sans-serif;
    outline: none;
    border: 0.1vw solid #bcbcbc;
    border-radius: 0.4vw;
}

/* Attendence Name style end*/
/* Attendence Name style end*/
/* Attendence Name style end*/

/* duty timer style start */
/* duty timer style start */
/* duty timer style start */

.duty__timer__container {
    width: 13vw;
    height: auto;
    display: inline-block;
    padding: 1vw 0vw;
}

.duty__timer__container__title {
    font-size: 1.3vw;
    padding-bottom: 0.5vw;
    color: #313131;
    text-align: center;
}
.duty__timer__container__input__box {
    width: 100%;
    height: 2.8vw;
    position: relative;
    border: 0.1vw solid #da1e37;
    border-radius: 0.4vw;
}

.duty__timer__container__input__box input {
    height: 100%;
    width: 96%;
    outline: none;
    font-size: 1.2vw;
    border: none;
    font-family: aller, sans-serif;
    outline: none;
    border-radius: 0.4vw;
    padding: 0.4vw;
}

.duty__timer__container__input__box .duty__timer__container__input__box__icon {
    position: absolute;
    background: #da1e37;
    height: 2.8vw;
    width: 3.2vw;
    top: -0.1vw;
    right: -0.1vw;
    border-top-right-radius: 0.4vw;
    border-bottom-right-radius: 0.4vw;
    pointer-events: none;
    background-image: url(../Assets/icon/time.svg);
    background-position: center center;
    background-size: 55%;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* duty timer style end */
/* duty timer style end */
/* duty timer style end */

/* brack timer style start */
/* brack timer style start */
/* brack timer style start */

.brack__timer__container {
    width: 16vw;
}
.brack__timer__container .brack__timer__container__title {
    font-size: 1.3vw;
    padding-bottom: 0.5vw;
    color: #313131;
    text-align: center;
}
.brack__timer__container__input__box {
    width: 100%;
    height: 2.8vw;
    position: relative;
    border: 0.1vw solid #da1e37;
    border-radius: 0.4vw;
    display: flex;
}
.brack__timer__container__input__box__timer__box {
    width: 50%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 0.8vw;
}
.brack__timer__container__input__box__timer__box__value {
    width: 4vw;
    height: auto;
    display: flex;
    cursor: pointer;
    font-size: 1.2vw;
}
/* .brack__timer__container__input__box__timer__box__value .hours {
}
.brack__timer__container__input__box__timer__box__value .minutes {
} */

.brack__timer__container__input__box__timer__box__button {
    width: 3.2vw;
    height: 2.7vw;
    position: absolute;
    right: 0%;
    top: -1px;
    border-radius: 0.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #dddddd;
}
.brack__timer__container__input__box__timer__box__button
    .brack__timer__container__input__box__timer__box__button__up {
    width: 100%;
    height: 49%;
    background-color: #da1e37;
    outline: none;
    border: none;
    cursor: pointer;

    /* border-top-right-radius: 0.4vw; */
}

.brack__timer__container__input__box__timer__box__button
    .brack__timer__container__input__box__timer__box__button__up
    svg {
    width: 1.5vw;
    margin-top: -0.6vw;
}

.brack__timer__container__input__box__timer__box__button
    .brack__timer__container__input__box__timer__box__button__up
    span {
    width: 59%;
    height: 0.007vw;
    background: #dddddd;
    display: inline-block;
}

.brack__timer__container__input__box__timer__box__button
    .brack__timer__container__input__box__timer__box__button__down {
    width: 100%;
    height: 47.5%;
    background-color: #da1e37;
    outline: none;
    border: none;
    cursor: pointer;
    /* border-bottom-right-radius: 0.4vw; */
}

.brack__timer__container__input__box__timer__box__button
    .brack__timer__container__input__box__timer__box__button__down
    svg {
    width: 1.5vw;
    margin-top: -0.6vw;
}
.brack__timer__container__input__box__timer__formater {
    width: 55%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1vw;
    cursor: pointer;
}
.brack__timer__container__input__box__timer__formater ul {
    width: 100%;
    height: auto;
    position: absolute;
    top: 108%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    box-shadow: 0vw 0vw 0.5vw 0vw rgb(32 32 32 / 15%);
    border-radius: 0.5vw;
    z-index: 100;
}
.brack__timer__container__input__box__timer__formater ul li {
    padding: 0.4vw 0.8vw;
    border-radius: 0.5vw;
}
.brack__timer__container__input__box__timer__formater ul li:hover {
    cursor: pointer;
    background-color: #da1e37;
    color: white;
}

.brack__timer__container__input__box__timer__formater__select__box__icon {
    position: absolute;
    background: #da1e37;
    height: 2.8vw;
    width: 3.2vw;
    top: -0.1vw;
    right: -0.1vw;
    border-top-right-radius: 0.4vw;
    border-bottom-right-radius: 0.4vw;
    pointer-events: none;
    background-image: url(../Assets/icon/downIcon.svg);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* brack timer style end */
/* brack timer style end */
/* brack timer style end */
