.attendence__employee__container {
    width: 38vw;
    height: auto;
    padding: 1.5vw;
    background: white;
    -webkit-box-shadow: 0vw 0vw 0.5vw 0vw rgb(32 32 32 / 15%);
    box-shadow: 0vw 0vw 0.5vw 0vw rgb(32 32 32 / 15%);
    border-radius: 1vw;
}
.attendence__employee__container__back__button {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.8vw;
    font-size: 1.2vw;
    color: #313131;
}
.attendence__employee__container__back__button svg {
    width: 1.5vw;
    height: 1vw;
    margin: 0vw 0.5vw 0vw 0vw;
    cursor: pointer;
}
.attendence__employee__container__search__box {
    width: 100%;
    height: auto;
    margin-bottom: 0.5vw;
}
.attendence__employee__container__search__box__title {
    font-size: 1.3vw;
    margin-bottom: 0.8vw;
    margin-left: 1vw;
    color: #313131;
}
.attendence__employee__container__search__box__input {
    width: 100%;
    height: auto;
}

.attendence__employee__container__user__selsect__box {
}
.attendence__employee__container__user__selsect__box__all__selsect__box {
    margin: 0vw 0vw 0vw 1vw;
}
.attendence__employee__container__user__selsect__box__user__box {
    width: 100%;
    height: 20vw;
    padding: 0vw 0.7vw 0vw 0.3vw;
    overflow: auto;
    margin-bottom: 1vw;
}

.attendence__employee__container__user__selsect__box__user__box::-webkit-scrollbar {
    width: 0.5vw;
    height: 1vw;
}

.attendence__employee__container__user__selsect__box__user__box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ececec;
    border-radius: 1.5vw;
}

.attendence__employee__container__user__selsect__box__user__box::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 1.5vw;
}

.attendence__employee__container__user__selsect__box__user__box::-webkit-scrollbar-button:single-button {
    background-color: #f5f5f5;
    display: block;
    border-style: solid;
    height: 0.5vw;
    width: 0.7vw;
}

.attendence__employee__container__user__selsect__box__user__box::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-width: 0.2vw;
    border-color: transparent #666666 transparent transparent;
}

.attendence__employee__container__user__selsect__box__user__box::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-width: 0.2vw;
    border-color: transparent transparent transparent #666666;
}

.attendence__employee__container__user__selsect__box__user__box::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0vw 0.3vw 0.4vw 0.3vw;
    border-color: transparent transparent #666666 transparent;
}

.attendence__employee__container__user__selsect__box__user__box::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 0vw 0.3vw 0.4vw 0 0.3vw;
    border-color: #666666 transparent transparent transparent;
}

.attendence__employee__container__button {
    /* padding: 0.6vw 0vw; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.attendence__employee__container__button button {
    width: 10vw;
    height: auto;
    padding: 0.5vw;
    font-size: 1.1vw;
    border-radius: 0.3vw;
    margin: 0vw vw 0vw 0.7vw;
    cursor: pointer;
    border: none;
}
.attendence__employee__container__button button:nth-child(1) {
    background: #da1e37;
    color: white;
    border: 0.1vw solid #da1e37;
    margin-right: 2vw;
}
.attendence__employee__container__button button:nth-child(2) {
    border: 0.1vw solid #da1e37;
    background: white;
    color: #da1e37;
}
