.add__member__imformation__header__container__input {
    width: 100%;
    height: auto;
}

.add__member__imformation__header__container__input__search__box {
    width: 100%;
    height: auto;
    padding: 0.2vw 0.2vw 0.2vw 0.8vw;
    border: 0.1vw solid #ececec;
    border-radius: 0.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    align-items: center;
}

.add__member__imformation__header__container__input__search__box input {
    width: 93%;
    height: 2.25vw;
    outline: none;
    border: none;
    font-size: 1.2vw;
    font-family: aller, sans-serif;
}

.add__member__imformation__header__container__input__search__box label {
    width: auto;
    height: 1.7vw;
}

.add__member__imformation__header__container__input__search__box label img {
    width: 1.4vw;
    cursor: pointer;
    margin-top: 0.2vw;
}
.add__member__imformation__header__container__output {
    width: 100%;
    height: 28vw;
    margin: 1.5vw 0vw 0vw 0vw;
    padding: 0vw 1vw 0vw 0.3vw;
    overflow: auto;
}

.add__member__imformation__header__container__output::-webkit-scrollbar {
    width: 0.6vw;
    height: 1vw;
}

.add__member__imformation__header__container__output::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ececec;
    border-radius: 1.5vw;
}

.add__member__imformation__header__container__output::-webkit-scrollbar-thumb {
    background: #bcbcbc;
    border-radius: 1.5vw;
}

.add__member__imformation__header__container__output::-webkit-scrollbar-button:single-button {
    background-color: #f5f5f5;
    display: block;
    border-style: solid;
    height: 0.5vw;
    width: 0.7vw;
}

.add__member__imformation__header__container__output::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-width: 0.2vw;
    border-color: transparent #666666 transparent transparent;
}

.add__member__imformation__header__container__output::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-width: 0.2vw;
    border-color: transparent transparent transparent #666666;
}

.add__member__imformation__header__container__output::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0vw 0.3vw 0.4vw 0.3vw;
    border-color: transparent transparent #666666 transparent;
}

.add__member__imformation__header__container__output::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 0vw 0.3vw 0.4vw 0 0.3vw;
    border-color: #666666 transparent transparent transparent;
}

.add__member__imformation__header__container__output .user__about__container {
    width: 100%;
    height: 6vw;
    display: grid;
    align-items: center;
    justify-items: start;
    padding: 0.7vw 1vw;
    grid-template-columns: repeat(5, 5.5vw);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'i ni ni ni'
        'i ni ni ni';
    box-shadow: 0vw 0vw 0.5vw 0vw rgb(0 0 0 / 10%);
    border-radius: 0.6vw;
    /* margin: 0.4vw 0vw 0.8vw 0vw; */
}
.user__about__main {
    width: 100%;
    height: 6vw;
    position: relative;
    margin: 0.4vw 0vw 0.8vw 0vw;
}
.main__click__box {
    width: 100%;
    height: 6vw;
    position: absolute;
    top: 0%;
    left: 0%;
}

.add__member__imformation__header__container__output
    .user__about__container
    .user__about__container__image {
    width: 100%;
    /* -ms-grid-row: 1; */
    -ms-grid-row-span: 2;
    /* -ms-grid-column: 1; */
    grid-area: i;
    position: relative;
}
.add__member__imformation__header__container__output
    .user__about__container
    .user__about__container__image
    span {
    width: 4.5vw !important;
    height: 4.5vw !important;
    border-radius: 0.35vw !important;
}
.add__member__imformation__header__container__output
    .user__about__container
    .user__about__container__image
    svg {
    position: absolute !important;
    width: 1.7vw !important;
    height: 1.6vw !important;
    top: 70% !important;
    left: 60% !important;
}

.add__member__imformation__header__container__output
    .user__about__container
    .user__about__container__name__id {
    grid-area: ni;
    margin-left: 0.5vw;
}

.add__member__imformation__header__container__output
    .user__about__container
    .user__about__container__name__id
    .user__about__container__name__id__name {
    width: 100%;
    height: auto;
    font-size: 1.6vw;
    color: #666666;
}

.add__member__imformation__header__container__output
    .user__about__container
    .user__about__container__name__id
    .user__about__container__name__id__id {
    width: 100%;
    height: auto;
    font-size: 1.1vw;
    padding: 0.2vw 0vw 0vw 0vw;
    color: #bcbcbc;
}
