.information__container {
  width: 100%;
  min-height: 100%;
  position: absolute;
  padding: 3vw 0vw;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(0.5vw);
  backdrop-filter: blur(0.5vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.information__container__from__box {
  width: 38vw;
  height: auto;
  background: white;
  padding: 2.5vw;
  -webkit-box-shadow: 0vw 0vw 0.5vw 0vw rgb(0 0 0 / 15%);
  box-shadow: 0vw 0vw 0.5vw 0vw rgb(0 0 0 / 15%);
  border-radius: 1vw;
  position: relative;
}
.information__container__from__box__search__box {
  width: 100%;
  height: auto;
}

.information__container__from__box__joining__checkBox {
  width: 100%;
  height: auto;
  padding: 1vw 0vw 0vw 0vw;
}
.information__container__from__box__joining__checkBox__title {
  font-size: 1.3vw;
  color: #313131;
}
.information__container__from__box__joining__checkBox__box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.information__container__from__box__name__box {
  width: 100%;
  height: auto;
}

.information__container__from__box__select__box {
  width: 100%;
  height: auto;
}
.information__container__from__box__select__box__row__one {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.information__container__from__box__select__box__row__two {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.information__container__from__box__nationality__box {
  width: 100%;
  height: auto;
  padding: 0.6vw 0vw;
}

.information__container__from__box__present__address {
  width: 100%;
  height: auto;
  padding: 0.5vw 0vw 0.5vw 0vw;
}

.information__container__from__box__permanent__address {
  width: 100%;
  height: auto;
  padding: 0vw 0vw 0.5vw 0vw;
}

.information__container__from__box__upload__documents__box {
  width: 100%;
  height: auto;
}

.information__container__from__box__next__and__cencel__btn {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.information__container__from__box__next__and__cencel__btn__next__btn {
  width: 12vw;
  height: auto;
  padding: 0.8vw;
  font-size: 1.1vw;
  border-radius: 0.3vw;
  border: none;
  background: #da1e37;
  color: white;
  margin: 0vw 0.7vw 0vw 0vw;
  cursor: pointer;
}
.information__container__from__box__next__and__cencel__btn__cencel__btn {
  width: 12vw;
  height: auto;
  padding: 0.6vw;
  font-size: 1.1vw;
  border-radius: 0.3vw;
  border: 0.1vw solid #da1e37;
  background: white;
  color: #da1e37;
  margin: 0vw vw 0vw 0.7vw;
  cursor: pointer;
}
