.edit__member__information {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(0.5vw);
  backdrop-filter: blur(0.5vw);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3vw 3vw 3vw 7vw;
}
.edit__member__information__container {
  width: 38vw;
  height: auto;
  background: white;
  padding: 1.7vw;
  box-shadow: 0vw 0vw 0.5vw 0vw rgb(0 0 0 / 16%);
  border-radius: 1.3vw;
}

.edit__member__information__container__checkbox {
}
.edit__member__information__container__checkbox__title {
  font-size: 1.3vw;
  padding: 0vw 0vw 0.5vw 0vw;
}
.edit__member__information__container__checkbox__container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.edit__member__information__container__gender__blood_group {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit__member__information__container__date__of__birth__religion {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit__member__information__container__name__container {
}
.edit__member__information__container__upoding__file {
}
.edit__member__information__container__button {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.edit__member__information__container__button__save__btn {
  width: 12vw;
  height: auto;
  padding: 0.8vw;
  font-size: 1.1vw;
  border-radius: 0.3vw;
  border: none;
  background: #da1e37;
  color: white;
  margin: 0vw 0.7vw 0vw 0vw;
  cursor: pointer;
}
.edit__member__information__container__button__cancel__btn {
  width: 12vw;
  height: auto;
  padding: 0.6vw;
  font-size: 1.1vw;
  border-radius: 0.3vw;
  border: 0.1vw solid #da1e37;
  background: white;
  color: #da1e37;
  margin: 0vw vw 0vw 0.7vw;
  cursor: pointer;
}
