/* employee box style start  */
/* employee box style start  */
/* employee box style start  */

.employee__container {
    width: 100%;
    height: auto;
    padding: 0.5vw 0vw 0vw 0vw;
}

.box__container {
    width: 100%;
    height: auto;
}
.box__container__search__box {
    width: 40vw;
    height: auto;
    padding-bottom: 0.7vw;
}
.box__calender__header__container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 0vw 1.5vw 0vw;
}
.box__calender__header__container__calender {
    width: 18vw;
    height: auto;
    border: 0.1vw solid #da1e37;
    border-radius: 0.5vw;
}
.box__calender__header__container__calender__main {
    width: 100%;
    height: 4vw;
    display: flex;
    align-items: center;
}
.box__calender__header__container__calender__main .icon {
    width: 4.8vw;
    height: 4vw;
    background-color: #da1e37;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 0.4vw;
    border-top-left-radius: 0.4vw;
}
.box__calender__header__container__calender__main .icon svg {
    width: 2vw;
    height: 2.4vw;
}
.box__calender__header__container__calender__main .button__and__date {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 0.7vw 0vw 0.7vw;
}
.box__calender__header__container__calender__main .button__and__date__left__button svg {
    width: 1.3vw;
    height: 1.3vw;
    cursor: pointer;
}
.box__calender__header__container__calender__main .button__and__date__date {
    font-size: 1.2vw;
    color: #313131;
}
.box__calender__header__container__calender__main .button__and__date__right__button svg {
    width: 1.3vw;
    height: 1.3vw;
    cursor: pointer;
}

.box__calender__header__container__qr__code__and__dot {
    width: 12.5vw;
    height: auto;
    display: -moz-box;
    display: flex;
    -moz-box-align: end;
    align-items: flex-end;
    justify-content: space-between;
}
.box__calender__header__container__qr__code__and__dot .qr__code {
    width: 11vw;
    height: auto;
    position: relative;
}
.box__calender__header__container__qr__code__and__dot .qr__code .qr__code__title {
    position: absolute;
    top: -50%;
    font-size: 0.9vw;
}
.box__calender__header__container__qr__code__and__dot .qr__code .qr__image {
    width: 4vw;
    height: 4vw;
    margin: 0 auto;
}
.box__calender__header__container__qr__code__and__dot .qr__code .qr__image span {
    width: 4vw !important;
    height: 4vw !important;
}
.box__calender__header__container__qr__code__and__dot .three__dot__icon span {
    width: 2vw !important;
    height: 2vw !important;
    margin-top: 1vw !important;
    cursor: pointer !important;
}

.employee__container {
    width: 100%;
    height: auto;
    overflow: auto;
}
.employee__container::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.55vw;
}

.employee__container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ececec;
    border-radius: 1.5vw;
}

.employee__container::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 1.5vw;
}

.employee__container::-webkit-scrollbar-button:single-button {
    background-color: #f5f5f5;
    display: block;
    border-style: solid;
    height: 0.5vw;
    width: 0.5vw;
}

.employee__container::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-width: 0.4vw;
    border-color: transparent #666666 transparent transparent;
}

.employee__container::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-width: 0.4vw;
    border-color: transparent transparent transparent #666666;
}

.employee__container::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0vw 0.3vw 0.4vw 0.3vw;
    border-color: transparent transparent #666666 transparent;
}

.employee__container::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 0vw 0.3vw 0.4vw 0 0.3vw;
    border-color: #666666 transparent transparent transparent;
}

.employee__main__container {
    width: 110vw;
    height: auto;
}
.employee__main__container__header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0.8vw 2vw;
    background-color: #da1e37;
    color: white;
    border-radius: 0.5vw;
}
.employee__main__container__header ul {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.employee__main__container__header ul li {
    font-size: 1.2vw;
}
.employee__main__container__header ul li:nth-child(1) {
    width: 18vw;
}
.employee__main__container__header ul li:nth-child(2) {
    width: 14.5vw;
    text-align: center;
}
.employee__main__container__header ul li:nth-child(3) {
    width: 14.5vw;
    text-align: center;
}
.employee__main__container__header ul li:nth-child(4) {
    width: 14.5vw;
    text-align: center;
}
.employee__main__container__header ul li:nth-child(5) {
    width: 15vw;
    text-align: center;
}
.employee__main__container__header ul li:nth-child(6) {
    width: 14.5vw;
    text-align: center;
}
.employee__main__container__header ul li:nth-child(7) {
    width: 13vw;
    text-align: center;
}

.employee__main__container__body {
    width: 100%;
    height: auto;
    padding: 0.8vw 0.1vw;
}
