.employee__box {
    width: 100%;
    height: auto;
    padding: 0.4vw 0.6vw;
    box-shadow: 0vw 0vw 0.5vw 0vw rgb(0 0 0 / 16%);
    margin-bottom: 1vw;
    border-radius: 0.4vw;
}
.employee__box__container {
    width: 100%;
    height: auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 1.2vw;
}
.employee__box__container__image__and__name {
    width: 20.5vw;
    height: auto;
    display: flex;
}
.employee__box__container__image__and__name__image {
    width: 5vw;
    height: 3.8vw;
    position: relative;
}
.employee__box__container__image__and__name__image .user__image {
    width: 3.8vw;
    height: 3.6vw;
    background-image: url(../../../../../../Assets/images/dashboard/Group\ 7167.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.4vw;
}
.employee__box__container__image__and__name__image svg {
    width: 1.5vw;
    height: 1.4vw;
    position: absolute;
    top: 68%;
    right: 12%;
}
.employee__box__container__image__and__name__id__and__name {
    height: auto;
}
.employee__box__container__image__and__name__id__and__name .user__name {
    font-size: 1.3vw;
    color: #313131;
}
.employee__box__container__image__and__name__id__and__name .user__id {
    font-size: 1.1vw;
    color: #666666;
}
.employee__box__container__starting__time {
    width: 12vw;
    text-align: center;
}
.employee__box__container__ending__time {
    width: 16.5vw;
    text-align: center;
}
.employee__box__container__bracking__time {
    width: 13vw;
    text-align: center;
}
.employee__box__container__today__status {
    width: 18.5vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

.employee__box__container__today__status span:nth-child(2) {
    width: 2.5vw !important;
    height: 2vw !important;
    cursor: pointer !important;
}
.employee__box__container__today__overtime {
    width: 10vw;
    text-align: center;
}
.employee__box__container__totall__hours {
    width: 17vw;
    text-align: center;
}
.employee__box__container__totall__hours__option {
    width: 1.5vw;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.employee__box__container__totall__hours__option span {
    width: auto;
    height: auto;
    cursor: pointer;
}

.employee__box__container__totall__hours__option ul {
    width: 9vw;
    height: auto;
    position: absolute;
    background-color: white;
    box-shadow: 0vw 0vw 0.5vw 0vw rgb(0 0 0 / 16%);
    border-radius: 0.4vw;
    top: 0%;
    right: 100%;
}
.employee__box__container__totall__hours__option ul li {
    padding: 0.4vw 0.6vw;
}
.employee__box__container__totall__hours__option ul li:hover {
    background-color: #da1e37;
    color: white;
    border-radius: 0.4vw;
    cursor: pointer;
}
