.member__deatils__container {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 3vw 3vw 3vw 7vw;
    /* background: rgb(255 255 255 / 50%); */
    background-color: #fff1f2;
    -webkit-backdrop-filter: blur(0.5vw);
    backdrop-filter: blur(0.5vw);
}
.member__deatils__container__main {
    width: 100%;
    min-height: 100%;
    background: white;
    border-radius: 1vw;
    padding: 2vw 2vw 8vw 2vw;
    box-shadow: 0vw 0vw 0.5vw 0vw rgb(0 0 0 / 15%);
}
.member__deatils__container__main__back__button {
    width: 100%;
    height: auto;
}
.member__deatils__container__main__back__button span {
    width: 2.5vw !important;
    height: auto !important;
    margin: 0vw 0vw 1vw 0vw !important;
    cursor: pointer !important;
}

.member__deatils__container__main__about {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding: 0vw 0vw 3vw 0vw;
}
.member__deatils__container__main__about .member__deatils__container__main__about__image {
    padding: 0vw 1.5vw 0vw 0vw;
    position: relative;
}

.member__deatils__container__main__about
    .member__deatils__container__main__about__image
    span:nth-child(1) {
    width: 15vw !important;
    height: 17vw !important;
    border-radius: 0.5vw !important;
    position: relative !important;
}

.member__deatils__container__main__about .member__deatils__container__main__about__image svg {
    width: 3vw;
    height: auto;
    position: absolute;
    right: 1%;
    top: 90%;
}
.member__deatils__container__main__about__deatils {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0vw 0vw 0vw 1.3vw;
}
/* .member__deatils__container__main__about__deatils__left {
} */

.member__deatils__container__main__about__deatils__left ul {
    list-style: none;
    font-size: 1.2vw;
    padding: 0vw 0vw 0.6vw 0vw;
}
.member__deatils__container__main__about__deatils__left ul li:nth-child(1) h1 {
    font-weight: 500;
    font-size: 1.5vw;
    padding: 0vw 0vw 0.6vw 0vw;
}
.member__deatils__container__main__about__deatils__left ul li {
    font-size: 1.2vw;
    padding: 0vw 0vw 0.5vw 0vw;
}
.member__deatils__container__main__about__deatils__left ul li:nth-child(8) {
    text-decoration: underline;
    cursor: pointer;
}
/* .member__deatils__container__main__about__deatils__right {
} */
.member__deatils__container__main__about__deatils__right img {
    cursor: pointer;
}

/* .member__deatils__container__main__row__box {
} */
.member__deatils__container__main__row__box .member__deatils__container__main__row__box__header {
    width: 100%;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #da1e37;
    border-radius: 0.4vw;
    font-size: 1.2vw;
}
.member__deatils__container__main__row__box__header ul {
    width: 100%;
    height: auto;
    display: flex;
}
.member__deatils__container__main__row__box__header ul li {
    /* width: 105%; */
    height: auto;
    display: flex;
    justify-content: space-around;
    color: white;
}
.member__deatils__container__main__row__box__header ul li:nth-child(6) {
    width: 110%;
}

.member__deatils__container__main__row__box__header ul li:nth-child(1) {
    width: 100%;
}
.member__deatils__container__main__row__box__header ul li:nth-child(2) {
    width: 75%;
}

.member__deatils__container__main__row__box__header ul li:nth-child(3) {
    width: 95%;
}

.member__deatils__container__main__row__box__header ul li:nth-child(4) {
    width: 110%;
}

.member__deatils__container__main__row__box__header ul li:nth-child(5) {
    width: 70%;
}

.member__deatils__container__main__row__box__body {
    width: 100%;
    height: auto;
    display: flex;
    margin: 1vw 0vw 0vw 0vw;
    padding: 1.4vw;
    box-shadow: 0vw 0vw 0.5vw 0vw rgb(0 0 0 / 15%);
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5vw;
    font-size: 1.2vw;
}

.member__deatils__container__main__row__box__body__row {
    width: 0.01vw;
    height: 2vw;
    background-color: #666666;
    margin: 0vw 0.5vw;
}
.member__deatils__container__main__row__box__body img {
    width: 1vw;
}
.member__deatils__container__main__row__box__body__position {
    width: 11vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.member__deatils__container__main__row__box__body__gender {
    width: 6vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .member__deatils__container__main__row__box__body__mobile__no {
}
.member__deatils__container__main__row__box__body__email {
}
.member__deatils__container__main__row__box__body__joining__date {
}
.employee__container__body__employee__container__box__salary__date {
} */
